builds
**/node_modules
**/pnpm.lock
**/npm.lock
**/yarn.lock
**/package.json
**/docker

# docker
docker-compose*
.dockerignore

# git
.git
.gitignore
**/.git
**/.gitignore

# editor setting
**/.vscode
.vscode

# others
**/.DS_Store
.DS_Store
.env.template
README.md

# Next
.next
