# env
**/.env
**/*.env
.env
*.env
!**/.env.template
!.env.template

# node_modules
**/dist
dist

# node_modules
**/node_modules

# editer setting
**/.vscode
.vscode

# others
**/.DS_Store
.DS_Store

# SQLs but not includes users and permissions sql setup
!*.sql
users-and-permissions.sql

# Docker Volumes
**/docker/**/data
